{% extends 'car_list/base.html' %}

{% block content %}
<section class="w-full h-screen bg-black py-10">
<div class="container mx-auto py-6 ">
  <div class="md:flex md:flex-wrap md:-mx-6">
    <div class="md:w-1/2 px-6">
      <img class="w-full h-720 object-cover" src="{{ offer.image.url }}" alt="{{ offer.title }}">
    </div>
    <div class="md:w-1/2 px-6">
      <h4 class="font-bold text-white text-3xl mb-2 pt-521">{{ offer.name }}</h4>
      <h2 class="text-3xl text-white font-bold">{{ offer.title }}</h2>
      <p class="text-white mt-4">{{ offer.description }}</p>
      <p class="text-white mt-4">Цена: {{ offer.price }} рублей</p>
      {% if request.COOKIES.cart_empty == 'true' %}
        <form action="{% url 'add_to_cart' offer.id %}" method="POST">
          {% csrf_token %}
          <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600" type="submit">Добавить в корзину</button>
        </form>
      {% else %}
        <form action="{% url 'add_to_cart' offer.id %}" method="POST">
            {% csrf_token %}
            <button class="bg-blue-500 text-white py-2 px-4 rounded hover:bg-blue-600 mt-5" type="submit">Добавить еще?</button>
          </form>
      {% endif %}
      <p class="text-gray-600 text-sm font-semibold hover:text-purple-600 mr-4 mt-5">You have visited this page {{ num_visits }}{% if num_visits == 1 %} time{% else %} times{% endif %}.</p>

    </div>
  </div>
</div>
</section>
{% endblock %}


