{% extends 'catalog/base.html' %}


{% block content %}
    <section>
        <div class="bg-white p-8 rounded shadow-md w-96">
            <h2 class="text-2xl font-bold mb-4">Подтверждение почты</h2>
            <p class="text-gray-600 mb-6">Пожалуйста, подтвердите свой адрес электронной почты.</p>
            <button class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 focus:outline-none focus:ring focus:border-blue-300">Подтвердить почту</button>
        </div>
    </section>
{% endblock content %}
